.cardMembros{ 
	display: flex;
	flex-direction: row;
	justify-content: space-around;
 }
 .card{ 
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 max-width: 300px;
 text-align: center;
  }
 button{ 
 	background-color: white;
 	color: black;
 	border: 2px solid #b300b3;
 	transition-duration: 0.6s;
 	padding: 8px;
 	font-size: 15px;
 	border:none;
 	text-align: center;
 	cursor: pointer;
 }
 button:hover{ 
 	background-color: #b300b3;
 	color: white;
 }